<div class="home">

  <div class="welcome">
    <h1 style="">Welcome to Hogwarts School of Witchcraft and Wizardry</h1>
  </div>

  <br>

  <h2>Please click on the above links to peruse the student list or enrol a new student</h2>

</div>

<br>
<br>
<br>
