<form action="/students" method="post">

  <label for="first-name-field">First Name:</label>
  <input id="first-name-field" type="text" name="first_name"/>

  <label for="second-name-field">Second Name:</label>
  <input id="second-name-field" type="text" name="second_name">

  <label for="house-select">Select House:</label>

  <select id="house-select" name="house_id">
    <option value=1>Gryffindor</option>
    <option value=2>Ravenclaw</option>
    <option value=3>Hufflepuff</option>
    <option value=4>Slytherin</option>
  </select>

  <label for="age">Age:</label>
  <input id="age" type="number" name="age"/>

  <input type="submit" value="Enrol Student"/>

</form>
