<h1 style="text-align: center">Please enter new student details below</h1>

<br>

<form action="/students" method="POST">

  <div style="display: block;">
    <label for="first-name-field">First Name:</label>
    <input id="first-name-field" type="text" name="first_name" style="height: 30px; width: 300px;"/>
  </div>

  <div style="display: block;">
    <label for="second-name-field">Second Name:</label>
    <input id="second-name-field" type="text" name="second_name"style="height: 30px; width: 300px;">
  </div>

  <div style="display: block;">
    <label for="house_select">Select House:</label>

    <select id="house_select" name="house_id" style="font-size: 20px; font-family: cursive;">
      <option value=1>Gryffindor</option>
      <option value=2>Ravenclaw</option>
      <option value=3>Hufflepuff</option>
      <option value=4>Slytherin</option>
    </select>
  </div>

  <div style="display: block;">
    <label for="age">Age:</label>
    <input id="age" type="number" name="age" style="height: 30px; width: 300px;"/>
  </div>

  <input type="submit" value="Enrol Student" style="font-size: 20px;"/>

</form>
